.adminMain {   
    /* margin-top: 60px; */
    display: flex;
    width: 100%;
    height: auto; 
    
   
}
.identitySection {
  /* display: flex;
  flex-direction: column;
  justify-content: space-between; */
  border: 1px solid #f1f1f1;
  padding: 10px; 
  width: 30%;
  height: 100%;
  /* background-color: #d8d8d8; */
  background-color: #f0edfe;
  text-align: center;
}

.photoProfil {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid black; */
  border-radius: 50%;
  width: 200px;
  height: 200px;
  margin-top: 30px;
  margin-bottom: 50px;
}

.imgProfil {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.presentation {
  text-align: center;
  margin-bottom: 50px;
  border: 1px solid #d8d8d8;
}

.presentation h2 {
  font-size: 1.5rem;
  /* text-align: center; */
}



.blocModif {
  border: 1px solid #d8d8d8;
  text-align: center;
  padding-bottom: 30px;

}

.identyProfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eventsSection{
display: flex;
flex-direction: column;
align-items: center;
width: 70%;
/* border: 1px solid #d8d8d8; */
padding: 10px; 
height: auto;
/* background-color: #000000; */
}

.editEventSection {
  position: relative;
  /* display: flex; */
  flex-direction: row;
  justify-content: space-around;
  /* align-items: center; */
  width: 100%;
  height: 70%;
}
.eventButton{
  position: relative;
  top: 0;
    background-color: #0093e9;
    margin: 4px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    border: none; 
    font-size: 14px;                  
    padding: 4spx;
    cursor: pointer;
    white-space: nowrap; 
    width: 50px;
    height: 30px;
    font-size: 10px;

} 
.tableContainer {
  width: 100%;
  height: 100%;
  overflow: auto;
  overflow-x: auto;
  border: 1px solid black;
  border-radius: 25px;
  scrollbar-color: #0093e9 rgb(249, 249, 249) ;
  scrollbar-width: thin;
  font-size: 12px;
  background-color:white;
  text-align: center;
  
}

.tableContainer thead {
  position: sticky;
  top: 0;
  background-color: #f0edfe;
  border-radius: 25px 25px 0 0;
  border-top: 1px solid;
}

.tableContainer tr {
  border-bottom: 2px solid black;
}

.tableContainer td {
  width: 2px;

}

.tableOfEvents{
    border: 1px solid #d8d8d8;
    border-collapse: collapse; 
    width: 100%;
   

}

.tableOfEvents td,.tableOfEvents th {
    border: 1px solid #d8d8d8;
    border-collapse: collapse; 
    padding: 4px;

}

.eventSortIcon{
    margin-left: 10px;
    margin-top: 5px;
    color: #0093e9;
    cursor: pointer;
}

.eventButton{

    height: 30px;
    width: 80px;
    cursor: pointer;

}



.modal {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

 

  .editAsso{

    /* background-color: #0093e9; */
    margin: 4px;
    color: #0093e9;
    border-radius: 5px;
    border: none; 
    font-size: 14px;                  
    cursor: pointer;
    /* width: 50px;
    height: 30px; */

  }

  .iconEdit {
    cursor: pointer;
    transition: transform 0.2s ease;
  }

  .iconEdit:hover {
    transform: scale(1.1);
  }

  .assoEditInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: 1px solid #d8d8d8;
    /* margin-bottom: 30px; */
    padding: 20px 0;   
  }

  
.assoEditInput p {
  font-size: 0.75rem;
}
.assoEditInput input, .assoEditInput textarea {
  width: 200px;
  height: 30px;
  border: none;

}

.btn {
  background-color: #0093E9;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 10px;
}
  .assoTitle{

    color: #0093e9;
    
    
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}