.adminMain {   
    /* margin-top: 60px; */
    display: flex;
    width: 100%;
    height: auto; 
    
   
}
.identitySection {
  border: 1px solid #f1f1f1;
  padding: 10px; 
  width: 30%;
  height: auto;
  /* background-color: #d8d8d8; */
  background-color: #f0edfe;

}

.identyProfil {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.eventsSection{
width: 70%;
border: 1px solid #d8d8d8;
padding: 10px; 
height: auto;
}

.eventButton{
    background-color: #0093e9;
    margin: 4px;
    color: white;
    border-radius: 5px;
    border: none; 
    font-size: 14px;                  
    padding: 4spx;
    cursor: pointer;
    white-space: nowrap; 
    width: 50px;
    height: 30px;
    font-size: 10px;

} 
.tableContainer {
  width: 100%;
  height: auto;
  overflow: auto;
  /* overflow-x: auto; */
  scrollbar-color: #0093e9 rgb(249, 249, 249) ;
  scrollbar-width: thin;
  font-size: 12px;
  background-color:white;
}
.tableOfEvents{
    border: 1px solid #d8d8d8;
    border-collapse: collapse; 
   

}

.tableOfEvents td,.tableOfEvents th {
    border: 1px solid #d8d8d8;
    border-collapse: collapse; 
    padding: 4px;

}

.eventSortIcon{
    margin-left: 10px;
    margin-top: 5px;
    color: #0093e9;
    cursor: pointer;
}

.eventButton{

    height: 30px;
    width: 80px;
    cursor: pointer;

}



.modal {
    position: fixed; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 60%; 
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .editAsso{

    background-color: #0093e9;
    margin: 4px;
    color: white;
    border-radius: 5px;
    border: none; 
    font-size: 14px;                  
    padding: 4spx;
    cursor: pointer;
    white-space: nowrap; 
    /* width: 50px;
    height: 30px; */

  }

  .assoEditInput{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: auto;
    border-bottom: 1px solid #d8d8d8;
    margin: 10px;   

  }

  .assoEditInput h2 {
    font-size: 1rem;
  }

  .assoTitle{

    color: #0093e9;
    
    
  }

  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}