.userIcon {
  cursor: pointer;
  transition: 0.3 ease-in-out;
  color: #0175b8;
  border-radius: 5px;
  margin-left: 120%;
  margin-bottom: 60%;
}

/* .userIcon:hover {
  border: none;
  color: #e0e0e0; 
  box-shadow: 0 8px 25px #0175b8, 0 4px 10px rgba(11, 50, 94, 0.5);
  transform: translateY(-3px); 
  cursor: pointer;
} */

.dropSpan {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
