.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: 82vh;
  background-color: #f0edfe;
  padding-top: 2vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 2%;
  width: 60vw;
}

.eventTitle {
  font-size: 200%;
  margin-top: 2%;
  margin-bottom: 2%;
  color: #393939;
}

.eventImage {
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.eventLabelDetails {
  font-weight: 700;
  margin-top: 2vh;
}

.eventDescription {
  width: 95%;
  font-weight: 500;
  margin-top: 1vh;
  flex-wrap: wrap;
  justify-self: start;
  text-align: justify;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-right: 2%;
}

.contactButton {
  margin-top: 10%;
  margin-bottom: 10%;
  background-color: #0093ea;
  color: white;
  width: 17vw;
  height: 5vh;
  font-size: large;
  display: no;
}

.associationCard {
  display: flex;
  flex-direction: row;
  /* border: 1px solid rgb(135, 135, 135); */
  justify-content: space-between;
  align-items: start;
  width: 28vw;
  padding: 5%;
  border-radius: 10px;
  /* background-color: rgba(214, 214, 214, 0.276); */
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}

.associationName {
  margin-top: 2%;
  font-weight: 500;
  font-size: 120%;
}

.associationImage {
  object-fit: cover;
  height: auto;
  border-radius: 8px;
}

.eventSlot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 100%;
  margin-bottom: 2vh;
}

.eventLabel {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  margin-right: 1%;
  width: 50%;
  /* background-color: blue; */
}
.eventLocation {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}
.eventTarget {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  text-align: end;
  align-items: end;
}
.eventCategories {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: end;
  align-items: end;
}

.eventInfos {
  padding: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: start;
  /* border: 1px solid rgb(115, 115, 115); */
  width: 28vw;
  border-radius: 10px;
  /* background-color: rgba(214, 214, 214, 0.276); */
  background-color: rgb(255, 255, 255);
}
