.mainContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: 90vh;
  background-color: #f7f2ec;
  padding-top: 2vh;
}

.leftContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 2%;
  width: 60vw;
}

.eventTitle {
  margin-left: 2%;
  font-size: 200%;
  margin-top: 5%;
  margin-bottom: 2%;
  color: #393939;
}

.eventImage {
  margin-left: 2%;
  object-fit: cover;
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.eventLabelDetails {
  margin-left: 2%;
  font-weight: 700;
  margin-top: 2vh;
}

.eventDescription {
  margin-left: 2%;
  width: 85%;
  font-weight: 500;
  margin-top: 1vh;
  flex-wrap: wrap;
  justify-self: flex-start;
  text-align: justify;
  line-height: 190%;
}

.rightContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 4%;
}

.contactButton {
  background-color: #0093ea;
  color: white;
  width: 17vw;
  height: 5vh;
  font-size: large;
}

.eventButtons {
  margin-top: 10%;
  margin-bottom: 10%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 28vw;
  height: 5vh;
  /* background-color: #0093ea; */
}

.likeButton {
  color: #af1d1d;
  height: 4vh;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.likeButton:hover {
  transform: scale(1.03);
}

.associationCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 28vw;
  padding: 5%;
  border-radius: 10px;
  /* background-color: rgba(214, 214, 214, 0.276); */
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  transition: transform 0.5s ease;
}

.associationCard:hover {
  transform: scale(1.03);
}

.associationName {
  margin-top: 2%;
  font-weight: 500;
  font-size: 120%;
}

.associationImage {
  object-fit: cover;
  height: auto;
  border-radius: 4px;
}

.eventSlot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 100%;
  margin-bottom: 2vh;
}

.eventLabel {
  display: flex;
  flex-direction: row;
  font-weight: 600;
  margin-right: 1%;
  width: 55%;
  line-height: 130%;
}
.eventLocation {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
}

.eventStreet {
  text-align: flex-end;
  width: 100%;
}

.eventTarget {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  text-align: flex-end;
  align-items: flex-end;
}
.eventCategories {
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: flex-end;
  align-items: flex-end;
}

.eventInfos {
  padding: 5%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  /* border: 1px solid rgb(115, 115, 115); */
  width: 28vw;
  border-radius: 10px;
  /* background-color: rgba(214, 214, 214, 0.276); */
  background-color: rgb(255, 255, 255);
}
