.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9%;
  border-bottom: 1px solid #d8d8d8; 
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  background-color: white;
  margin-bottom: 10px;
  /* padding: 10px; */
 
}

.logo {
  cursor: pointer;
  
}

.logoAndSearchContainer {
  margin: 0 10px; 
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchContainers {
  width: 90%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.searchText, 
.searchLocation {
  margin: 10px;
  font-size: 16px;
  width: 30%;
  height: 40%;
  border-radius: 15px;
  border: 1px solid #d8d8d8; 
  padding: 10px;
}

.btnSearch {
  border: none; 
  color: #d8d8d8;
  margin-left: 10px;
  height: 30px;
  cursor: pointer;
}

.signinSignupContainer {
  height: 100%;
  width: 15%;
  display: flex; 
  align-items: center; 
  justify-content: flex-end; 
  margin-right: 10px;
 
}

.btnSignin, 
.btnSignup {
  background-color: #0093e9;
  color: white;
  border-radius: 15px;
  border: none; 
  font-size: 16px;                  
  padding: 10px;
  cursor: pointer;
  white-space: nowrap; 
  width: 40%;
 
}

.btnSignin, .btnSignup {
  margin-right: 10px; 
}

.logoutContainer {
  display: flex;
  width: 10%;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.logout {
  font-size: 20px;
  /* margin: 0 10px; */
  color: #0093e9;
}

.txtLogout {
  font-size: 12px;
  font-weight: 700;
}