.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 9vh;
  border-bottom: 1px solid #d8d8d8;
  /* position: fixed; */
  position: sticky;
  top: 0;
  width: 100%;
  max-width: 100vw;
  z-index: 1;
  overflow-x: auto;
  background-color: white;
}

.logo {
  cursor: pointer;
}
.logoContainer {
  cursor: pointer;
  padding: 1%;
}

.logoAndSearchContainer {
  margin: 0% 1%;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.searchContainers {
  margin-left: auto;
  width: 80%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dropMenu {
  margin-left: 100%;
  background-color: #0078c1;
}

.searchText,
.searchLocation {
  margin: 1%;
  font-size: 16px;
  width: 30%;
  height: 40%;
  border-radius: 15px;
  border: 1px solid #d8d8d8;
  padding: 1%;
}

.btnSearch {
  border: none;
  color: #d8d8d8;
  margin-left: 1%;
  height: 50%;
  width: 10%;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.btnSearch:hover {
  transform: scale(1.03);
}

.signinSignupContainer {
  height: 100%;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 10px;
}

.btnSignin,
.btnSignup {
  /* background-color: #0093e9;
  color: white;
  border-radius: 15px;
  border: none;
  font-size: 16px;
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  width: 40%;
  padding: 10px; */
  background-color: #0093e9;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  border-radius: 15px;
  border-color: #0093e9;
  width: 142px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1f87ff, 2px 5px 16px 0px #0b325e,
    -4px 5px 28px 1px rgba(6, 103, 122, 0); /*Permet l'utilisation avec firefox*/
  box-shadow: inset -1px 3px 8px 5px #0093e9, 2px 5px 16px 0px #0b325e,
    -4px 5px 28px 1px rgba(6, 103, 122, 0);
  transition: 0.2 ease-in-out;
}
.btnSignin:hover,
.btnSignup:hover {
  background-color: #0078c1; /* Couleur plus foncée au survol */
  color: #e0e0e0; /* Couleur du texte légèrement plus claire */
  box-shadow: 0 8px 25px rgba(0, 147, 233, 0.7), 0 4px 10px rgba(11, 50, 94, 0.5);
  transform: translateY(-3px); /* Effet de levée */
  cursor: pointer;
}

.shortcut {
  display: flex;
  flex-direction: row;
  width: 40%;
  justify-content: center;
}

.iconContainer {
  display: flex;
  flex-direction: row;
  width: 40%;
  /* border: 1px solid black; */
  justify-content: flex-start;
  align-items: center;
  font-size: 25px;
  /* color: #0093e9; */
  margin-right: 25px;
}

.btnSignin,
.btnSignup {
  margin-right: 10px;
}

.logoutContainer {
  display: flex;
  width: 10%;
  justify-content: space-around;
  align-items: center;
  margin-right: 25px;
  cursor: pointer;
}

.logout {
  font-size: 20px;
  /* margin: 0 10px; */
  color: #0175b8;
}

.txtLogout {
  font-size: 12px;
  font-weight: 700;
}

.headerIcon {
  cursor: pointer;
  color: #494949;
}

.contactIcon:hover {
  box-shadow: 0 8px 25px rgba(0, 147, 233, 0.7), 0 4px 10px rgba(11, 50, 94, 0.5);
  transform: translateY(-2px);
  cursor: pointer;
}

.myEvents {
  text-align: justify;
  color: #0175b8;
  font-size: medium;
  white-space: nowrap;
  cursor: pointer;
  font-weight: 500;
  /* background-color: #0078c1; */
  padding: 8%;
  margin: 1%;
}

.spacer {
  color: #0175b8;
  font-size: medium;
  font-weight: 500;
  /* background-color: #0078c1; */
  margin: 2px;
}

.txtWelcome {
  text-wrap: nowrap;
  font-size: 120%;
  font-weight: 400;
  color: #767676;
  margin-right: 1%;
}

.createAssoMsg {
  display: flex;
  align-items: center;
  font-size: 12px;
  color: #0093e9;
  cursor: pointer;
  margin: 10px;
  border-bottom: 1px solid #0093e9;
  font-style: italic;
}

.infoSession {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  gap: 10px;
}
