.main {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 4rem 0;
}


.mainCentral {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
}

.mainText {
  width: 50%;
}
.btn {
  background-color: #0093E9;
  color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  border-radius: 15px;
  border-color: #0093E9;
  width: 142px;
  padding: 10px;
  margin: 10px;
  -webkit-box-shadow: inset -1px 3px 8px 5px #1F87FF, 2px 5px 16px 0px #0B325E, -4px 5px 28px 1px rgba(6, 103, 122, 0); /*Permet l'utilisation avec firefox*/
  box-shadow: inset -1px 3px 8px 5px #0093E9, 2px 5px 16px 0px #0B325E, -4px 5px 28px 1px rgba(6, 103, 122, 0);
  transition: 0.3 ease-in-out;
}

.btn:hover {
  background-color: #0078C1; /* Couleur plus foncée au survol */
  color: #e0e0e0;           /* Couleur du texte légèrement plus claire */
  box-shadow: 0 8px 25px rgba(0, 147, 233, 0.7), 0 4px 10px rgba(11, 50, 94, 0.5);
  transform: translateY(-3px); /* Effet de levée */
  cursor: pointer;
}
.divImg {
  width: 40%;
  border-radius: 15px;
}


.imgAccueil{
  width: 100%;
  height: auto;
  border-radius: 15px;
}
/* .mainEventsCategory {
 
} */

.cicleEvent {
  /* border: 1px solid black; */
  border-radius: 50%;
  background-color: #ffe7c2;
}

.eventIcon {
  width: 40px;
  height: 40px;
  padding: 20px;
  color: #545454;
}