.main {
  display: flex;
  height: 100vh;
  width: 100vw;
}

.leftSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 10vw;
  background-color: #f1ddeb;
  padding-top: 2vh;
}

.tabs {
  margin-bottom: 200px;
}

.rightSection {
  display: flex;
  flex-direction: column;
  background-color: #f0edfe;
  overflow-y: auto;
  border-radius: 1px solid black;
  width: 90vw;
}

.title {
  font-size: 28px;
  padding-left: 20px;
  color: #333;
  margin-bottom: 50px;
  position: relative;
  top: 0px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  /* margin:20px; */
}

.eventBox {
  display: flex;
  margin-left: 1%;
  margin-right: 1%;

  padding-left: 2%;
  padding-right: 2%;
  flex-direction: row-reverse;
  align-items: start;
  width: 40%;
  margin-bottom: 2%;
  justify-content: start;
  background-color: rgb(255, 255, 255);
  height: 30vh;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 14px;
  color: #555;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  /* background-color: #f6cdea; */
  /* background-color: #f0edfe; */
  /* transition: transform 0.2s ease, box-shadow 0.2s ease; */
  cursor: pointer;
}

.description {
  text-align: justify;
  margin-right: 5%;
  line-height: 150%;
  /* width: 90%; */
}

.eventImage {
  object-fit: cover;
  margin-top: 5%;
}

.eventDetails {
  /* margin-top: 10px; */
  color: #513b81;
}

.eventBox:hover {
  transform: translateY(-2px);
  box-shadow: 0px 4px 8px rgba(53, 55, 54, 0.2);
}

.eventDate {
  /* margin-top: 100px; */
  font-size: 12px;
}
