.searchMain {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  height: 84vh;
  flex-grow: 1;
  background-color: #f7f2ec;
}

.searchHeaders {
  margin-top: 1%;
  text-align: center;
}

.searchTitle {
  margin-top: 0%;
  margin-bottom: 1%;
}

.searchTabs {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.tab {
  margin-right: 20px;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  width: 95vw;
  height: 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;

  /* background-color: #bababa; */
  border-radius: 5%;
}

.filterbox {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 1%;
}

.filterboxDate {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-right: 1%;
}

.openOnlyBox {
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 10px;
  margin-right: 1%;
  /* background-color: #d9613d; */
}

.resultContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-height: 58vh;
  padding-bottom: 10px;
  overflow-y: auto;
}

.imageContainer {
  padding: 10px;
  /* border: 1px solid #d8d8d8; */
  margin-right: 10px;
}

.resultDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

.EventDate {
  font-weight: 600;
}

.resultIcon {
  color: #d9613d;
  margin-left: 10px;
}

.calendar {
  border: 1px solid black;
  width: 10%;
  height: 10%;
  margin-right: 10px;
}

.card {
  /* border: 1px solid black; */
  /* border-bottom: 1px solid black; */
  /* height: 10vh; */
  display: flex;
  flex-direction: row;
  align-items: start;
  /* justify-content: space-between; */
  /* background-color: aquamarine; */
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top: 1%;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  height: 13vh;
}

/* .card.hover {
} */

.cardName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 40vw;
  font-weight: 600;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
}

.cardImage {
  border-radius: 5%;
  margin-right: 2vw;
}
.cardDescription {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  width: 40vw;
  font-size: 100%;
  font-weight: 400;
  text-align: justify;
  margin-bottom: 1%;
  line-height: 110%;
}
.cardInfos {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50vw;
  height: 13vh;
}
.cardType {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
  height: 13vh;
  width: 25vw;
}
.cardCategories {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.cardCategory {
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #f6f3ef;
  border-radius: 5%;
  padding-left: 4%;
  padding-right: 4%;
  margin-right: 2%;
  font-size: 110%;
}

.cardAddress {
  display: flex;
  flex-direction: row;
  align-items: start;
  margin-right: 10%;
  font-size: 110%;
  gap: 10%;
}
