.searchMain {
  display: flex;
  width: 100vw;
  flex-direction: column;
  justify-content: top;
  align-items: left;
  height: 100vh;
  margin-top: 3rem;
  flex-grow: 1;
}

.searchHeaders {
  margin-top: 3%;
  text-align: center;
}

/* .searchTitle {  
 
  } */

.searchTabs {
  display: flex;
  list-style-type: none;
  flex-direction: row;
  justify-content: center;
  margin-left: 0px;
  width: 100%;
}

.tab {
  margin-right: 20px;
}

.filterContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style-type: none;
  width: 95vw;
  height: 10%;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 1%;
  margin-top: 1%;

  /* background-color: #bababa; */
  border-radius: 5%;
}

.filterbox {
  /* border: 1px solid #d8d8d8; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.openOnlyBox {
  /* border: 1px solid #d8d8d8; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 10px;
}
.openOnlyBox {
  /* border: 1px solid #d8d8d8; */
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  font-size: 10px;
}

.resultPageAndMap {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: space-around;
}

.map {
  margin-top: 20px;
  padding: 10px;
  width: 30%;
  height: 100%;
  border: 1px solid #d8d8d8;
}

/* .resultPageContainer {
  padding: 10px;
  border: 1px solid #d8d8d8;

  margin-top: 20px;
  height: 500px;
  overflow-y: auto;
} */

.resultDefandIcons {
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.resultContainer {
  display: flex;
  flex-direction: column;
  border: 1px solid #d8d8d8;
  padding: 10px;
  width: 100%;
  max-height: 75vh;
  margin-bottom: 10px;
  overflow-y: auto;
}

.imageContainer {
  padding: 10px;
  /* border: 1px solid #d8d8d8; */
  margin-right: 10px;
}

.resultDetailsContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 90%;
  height: 100%;
}

.EventDate {
  font-weight: 600;
}

.resultIcon {
  color: #d9613d;
  margin-left: 10px;
}

.calendar {
  border: 1px solid black;
  width: 10%;
  height: 10%;
  margin-right: 10px;
}

.card {
  /* border: 1px solid black; */
  /* border-bottom: 1px solid black; */
  /* height: 10vh; */
  display: flex;
  flex-direction: row;
  align-items: start;
  /* justify-content: space-between; */
  /* background-color: aquamarine; */
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-left: 2vw;
  padding-right: 2vw;
  /* border-radius: 5px; */
  cursor: pointer;
  margin-top: 1%;
  border-radius: 10px;
  background-color: rgba(214, 214, 214, 0.151);
}

.card.hover {
  cursor: ;
}

.cardName {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 20vw;
  font-weight: 600;
  font-size: 120%;
  font-family: Arial, Helvetica, sans-serif;
}

.cardImage {
  border-radius: 5%;
  margin-right: 2vw;
}
.cardDescription {
  display: flex;
  flex-direction: row;
  /* justify-content: flex-start; */
  width: 30vw;
  font-size: 120%;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}
.cardInfos {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 50vw;
}
.cardType {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.cardCategories {
  width: 10vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cardCategory {
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: #ffe7c2;
  border-radius: 5%;
  padding-left: 10%;
  padding-right: 10%;
  margin-right: 10%;
  font-size: 120%;
}
